<nav>
    <div class="imag display">
        <img src="../../../favicon.ico" alt="logo">
    </div>
    <div class="mid display">
        <button class="midbtn">Login</button>
    </div>
    <div class="last display">
        <button class="lastbtn">Sign Up</button>
    </div>
</nav>
<div class="main">
    <div class="medium1">
        <h1>
            Login
        </h1>

    </div>
    <div class="medium2 row">
        <div class="col">
<div class="row">

    <div class="mediumforform col-md-6">
        <form>
            <label for="email">EMAIL</label>
            <br />
            <input type="text" name="" id="email">
            <br />
            <label for="pas">PASSWORD</label>
            <br />
            <input type="password" name="" id="pas">
            <br />
            <input type="checkbox"> Check me
            <br />
            <button class="btn">Login</button>
        </form>
    </div>
    <div class="mediumforpic col-md-6">
        pic
    </div>
</div>
        </div>
    </div>

</div>
<footer>
    <h3>where to play</h3>
    <div class="footer">
        <p>isdcksdnvksdninds</p>
        <p>isdcksdnvksdninds</p>
    </div>
</footer>