@import "../../../styles.scss";

nav {

    background-color: black;
    // width: 100%;

}




.imag {
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    border-right: 1px solid whitesmoke;

}

.mid {
    text-align: right;
    padding-top: 22px;



}

.last {
    // text-align: center;
    // width: 17%;
    padding: 20px 0px;
    border-left: 1px solid whitesmoke;
}

.lastbtn {
    border: 0;
    padding: 5px 50px;
    color: white;
    margin-left: 20px;
    background: linear-gradient(to right, #ee4931 0%, #c06922 100%);
    // background-color: #ee4931;
}

.lastbtn:hover {
    background: linear-gradient(to right, #c06922 0%, #ee4931 100%);
    color: black;
}

.midbtn {
    border: 0;
    color: #ee4931;
    background-color: black;
}

.midbtn:hover {
    color: white;
}

.medium1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgb(36, 32, 32);

}

.medium1 h1 {
    margin: 0%;
    padding: 20px 30px;
    border-bottom: 2px solid #ee4931;
}

.clip {
    position: absolute;
    // margin-top: 100px;
    width: 50vw;
    height: 600px;
    // transform: rotate(45deg);
    background: linear-gradient(to top, #f4f4f4 0%, #f6c9bf 100%);
    clip-path: polygon(0% -29.5%, 0% 100%, 100% 100%);
    // transform: rotate(90deg);
}

.medium2 {
    // border: 1px solid;
    display: flex;
    // margin-left: 100px;
    justify-content: center;
    // text-align: center;
    align-items: center;
    height: 600px;
    // clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: #f4f4f4;
    margin: 0%;
    padding: 0%;
}

.mediumsub {
    display: flex;
    margin-left: 11%;
    padding: 0%;
    align-items: center;
    // text-align: center;
    // text-align: center;
    // padding: 100px; 
    background-color: white;
    height: 400px;
}

.mediumforform {
    display: flex;
    justify-content: center;
    height: 300px;
}

.mediumforpic img {
    height: 350px;
    text-align: center;

    // background-color: #f84a32;
    // box-shadow: 10px 10px #888888;


}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
}

footer {
    background-color: black;
    color: white;
}

footer h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
}

.fbtn {
    width: 100%;
    // padding: 9px;
    background: linear-gradient(to right, #ee4931 0%, #c06922 100%);
    color: white;
    border: 0;
}

.fbtn:hover {

    background: linear-gradient(to right, #c06922 0%, #ee4931 100%);
    color: black;

}

label {
    margin-top: 10px;
}

input {
    margin: 10px 0px;
    // padding: 0px 2em;
    padding-right: 2em;
}

@media only screen and (max-width:620px) {

    .imag {
        width: 25%;
        padding: 5px;
    }

    .mid {
        width: 55%;
        padding: 5px;
    }

    .last {
        width: 20%;
        padding: 5px;
    }

    .midbtn {
        border: 0;
        color: #ee4931;
        font-size: 12px;
        background-color: black;
    }

    .lastbtn {
        border: 0;
        padding: 5px 10px;
        margin-left: 6px;
        font-size: 9px;

        background-color: #ee4931;
    }

    .medium1 h1 {
        font-size: 15px;
    }

    .medium2 {
        display: flex;
        justify-content: center;
        height: 350px;
    }

    .mediumsub {
        width: 60%;
        background-color: white;
        height: 250px;
    }

    .mediumforform {
        // display: flex;
        // justify-content: center;
        // text-align: center;
        // margin: 5% 0;
        // background-color: white;
        height: 150px;
        // width: 40%;
        // width: 50%;
        font-size: 10px;
    }
    .fbtn {
        font-size: 9px;
        padding: 5px;
    }
    form{
        font-size: 8px;
    }

    

    input {
        margin: 5px 0px;
        font-size: 8px;
        // padding-left: 10px;
    }

    .footer {
        display: flex;
        justify-content: center;
        text-align: center;
        bottom: 0;
        font-size: 10px;
    }

    footer {
        background-color: black;
        color: white;
    }

    footer h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        bottom: 0;
        font-size: 13px;
    }

    .clip {
        position: absolute;
        // margin-top: 100px;
        width: 50vw;
        height: 350px;
        // transform: rotate(45deg);
        background: linear-gradient(to top, #f4f4f4 0%, #f6c9bf 100%);
        clip-path: polygon(0% -75%, 0% 100%, 100% 100%);
        // transform: rotate(90deg);
    }


}