<nav>
    <div class="row margin-0">
        <div class="imag col-md-2">
            <img src="../../../assets/1.jpg" width="100%" alt="logo">
        </div>
        <div class="mid col-md-8">
            <button class="midbtn">Login</button>
        </div>
        <div class="last col-md-2">
            <button class="lastbtn btn btn-primary">Sign Up</button>
        </div>
    </div>
</nav>
<div class="main">
    <div class="medium1">
        <h1>
            Login
        </h1>

    </div>
    <div class="clip">

    </div>
    <div class="medium2 row margin-0">
        <div class="mediumsub col-md-9">

            <div class="mediumforform col-md-6">
                <form>
                    <label for="email">EMAIL</label>
                    <br />
                    <input type="text" class="form-control" name="" id="email">
                    <br />
                    <label for="pas">PASSWORD</label>
                    <br />
                    <input type="password" class="form-control" name="" id="pas">
                    <br />
                    <input type="checkbox"> Check me
                    <br />
                    <button class="fbtn btn btn-primary">Login</button>
                </form>
            </div>

            <div *ngIf="val=='Desktop'" class="mediumforpic col-md-5">
                <img src="../../../assets/2.jpg" width="100%">
            </div>

        </div>
    </div>

</div>
<footer>
    <div class="flogo">

        <img src="../../../assets/1.jpg" alt="logo">
    </div>
    <div class="footer row margin-0">
        <p class="f1 col-md-6">© 2023 All Copyright Reserved</p>
        <p class="f1 col-md-2">Upute za koristenje</p>
        <p class="f2 col-md-4" >Opci uvjeti koristenja</p>
    </div>
</footer>