<footer>
    <div class="ff">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Licence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help Center</a>
            </li>
        </ul>
        <p>
            © 2023 All Copyright Reserved
        </p>
    </div>
    <div class="lf">
        <p>
            English
        </p>
        <i class="fa-thin fa-moon"></i>
    </div>
</footer>