<nav>
    <div class="row margin-0">
        <div class="col-md-9 start">
            <h4>{{title}}</h4>

        </div>
        <div class="col-md-2 fors">
            <div class="form-inline my-2 my-lg-0 forbar">
                <i class="fa fa-search icon" aria-hidden="true"></i>

                <input type="text" class="form-control mr-sm-2" width="250px"  placeholder="type to search ........">
            </div>
            <i class="fa fa-bell-o icon2"></i>
            <img src="../../../assets/3.jpg" alt="">
        </div>
    </div>
</nav>