<div class="container main">
    <div class="forfixed">
        <div class="first">
            <h3>
                payment options
            </h3>
        </div>
        <div class="po row margin-0">
            <div class="po1 col-md-5 ">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="po1 activediv col-md-5">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Pay for utilities</h3>
                <p>98 services provider</p>
            </div>
        </div>
    </div>
    <div class="first">
        <h3>
            Service providers
        </h3>
    </div>
    <div class="po row margin-0">
        <div class="sp col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Mobile networks</h3>
            <p>Top up your balance instantly with operation</p>
        </div>
        <div class="sp activediv col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Government</h3>
            <p>Pay car fines, taxes and government service</p>
        </div>
        <div class="sp col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Utilities</h3>
            <p>Check your home utility bills and pay them instantly</p>
        </div>
        <div class="sp col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Internet Provider</h3>
            <p>Find Home Internet providers in your area</p>
        </div>
        <div class="sp col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Financial services</h3>
            <p>Pay For internet, make a private transfer abroad</p>
        </div>
        <div class="sp col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Parking and fines</h3>
            <p>Purchase parking permit, and pay for police fines</p>
        </div>
        <div class="sp col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="sp col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="row margin-0" [ngClass]="{'limitTextHeight': isReadMore}">
            <div class="sp col-md-5 ">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Mobile networks</h3>
                <p>Top up your balance instantly with operation</p>
            </div>
            <div class="sp col-md-5">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="sp col-md-5 ">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="sp col-md-5">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
        </div>
        <div class="forbtn">
            <button type="button" (click)="showText()">
                {{ isReadMore ? '... See All Providers': '... Less All Providers' }}
            </button>
        </div>
    </div>
</div>
<div class="forright">
    <div class="rightfirst">
        <p>Add new template</p>
    </div>
    <div class="row margin-0 sec">
        <h3>Recent payments</h3>
        <div class="sec1 col-md-11">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="sec1 col-md-11">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="sec1 col-md-11">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
    </div>
</div>