.margin-0 {
    margin: 0px;
}
.btn {
    padding: 5px 20px;
    // font-weight: bold;
    background: transparent;
    color: black;
    border: none;
    font-size: 13px;
    width: 140px;
    font-weight: bold;
    word-spacing: 1px;
}

.forbtn1 {
    display: flex;
    justify-content: center;
    width: 32%;
    padding: 10px;

    background: rgb(232, 233, 234);
    // border: 1px solid black;
    position: relative;
    left: 23%;
    border-radius: 10px;
    
    
}

.active {
    font-weight: normal;
    & button {
        background: black;
        color: white;

        // border: 5px solid white;
        // border-radius: 10px;
    }
}
