<div class="main">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary btn active">Left</button>
        <button type="button" class="btn btn-secondary btn">Middle</button>
        <button type="button" class="btn btn-secondary btn">Right</button>
    </div>
    <div class="first">
        <h3>
            payment options
        </h3>
    </div>
    <div class="po row margin-0">
        <div class="po1 col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
    </div>
    <div class="first">
        <h3>
            Service providers
        </h3>
    </div>
    <div class="po row margin-0">
        <div class="po1 col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5 ">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="po1 col-md-5">
            <i class="fa fa-sharp fa-regular fa-qrcode"></i>
            <h3>Transfer for someone</h3>
            <p>150 contacts</p>
        </div>
        <div class="row margin-0" [ngClass]="{'limitTextHeight': isReadMore}">
            <div class="po1 col-md-5 ">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="po1 col-md-5">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="po1 col-md-5 ">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
            <div class="po1 col-md-5">
                <i class="fa fa-sharp fa-regular fa-qrcode"></i>
                <h3>Transfer for someone</h3>
                <p>150 contacts</p>
            </div>
        </div>
        <div>
            <button type="button" (click)="showText()">
                {{ isReadMore ? 'Read More': 'Read Less' }}
            </button>
        </div>
    </div>
</div>