<div class="forbtn1">

    <div>
        <button type="button" class="btn btn-secondary" [ngClass]="first?activebtn:''" (click)="btnchange('first')" >Make a payment</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" [ngClass]="sec?activebtn:''" (click)="btnchange('sec')">Private transfer</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" [ngClass]="th?activebtn:''" (click)="btnchange('th')" >Exchange</button>
    </div>
</div>
<router-outlet></router-outlet>