@import "../../../styles.scss";



.margin-0 {
    margin: 0px;
}

nav {
    width: 100%;
    background-color: black;

}

.imag {
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    padding-left: 10px;
    border-right: 1px solid whitesmoke;
    min-width: auto;

}

.mid {
    display: flex;
    justify-content: right;
    align-items: center;

}

.last1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid whitesmoke;
    min-width: auto;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastbtn {
    border: 0;
    color: white;
    background: transparent;
}

.arrow {
    border: solid #ee4931;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.midbtn {
    border: 0;
    color: whitesmoke;
    background-color: black;
}

.midbtn:hover {
    color: white;
}

.medium1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: rgb(36, 32, 32);


}

.medium1btn {
    background: rgb(36, 32, 32);
    margin: 30px 0px;
    padding: 10px 70px;
    border: 1px solid #ee4931;
    color: whitesmoke;
}

.foroutline {
    border-bottom: 2px solid #ee4931;
}

.medactive {
    // margin: 30px 0px;
    border: none;
    padding: 11px 71px;
    box-shadow: inset -5px -6px 17px 0px rgb(0, 0, 0, 0.63);
    background-image: linear-gradient(to top, #f34432, #f78d4d);

}

.forimage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ee4931;
}

.medium2 {
    padding: 20px 140px;
    font-size: 15px;
    text-align: right;
}

.medium2 a {
    color: rgb(36, 32, 32);
    text-decoration: underline;
}

.main {
    width: 100%;
    background-color: #ffffff;
}

.container {
    width: 100%;
}

.forcalen {
    text-align: right;
    margin-bottom: 30px;
}

.icon {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
}

.fordays {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.outside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70px;
    background: transparent;
    // clip-path: polygon(3% 0, 100% 0, 100% 57%, 98% 100%, 0 100%, 0% 50%);
    z-index: 1;
}
.fordaysbtn {
    display: flex;
    // position: relative;
    width: 100%;
    // top: 1px;
    // left: 1px;
    // right: 1px;
    // bottom: 1px;
    // background: white;
    box-shadow: 20px 20px rgba(0, 0, 0, 0.808);
    clip-path: polygon(3% 0, 100% 0, 100% 57%, 98% 100%, 0 100%, 0% 50%);
    // z-index: -1;
}

.forbtn {
    width: 14.29%;
    // position: relative;
    background: #f6f6f6;
    border-left: 1px solid #c0c0c0;
    transform: skew(-25deg);
    // z-index: -1;
    display: flex;
    justify-content: center;
    text-align: center;
}

.forbtn button {
    color: #999999;
    padding-top: 10px;
}
.active button {
    color: whitesmoke;
}
.active {
    // border: 3px solid black;
    position: relative;
    z-index: 1;
    box-shadow: inset -1px -6px 14px -10px rgb(0, 0, 0, 0.63),5px -3px rgba(0, 0, 0, 0.11) ;
    background-image: linear-gradient(to top, #f34432, #f78d4d);
    // padding: 12px 0px;
    
}
.adays {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ededed;
}
.forw {
    transform: skew(-30deg);
    width: 14.29%;
    // margin-right: 15px;

}
.forbtnoutline {
    padding-left: -5px;
    height: 40px;
    border-bottom: 2px solid #ee4931;
}
.mon {
    // border-bottom: 2px solid black;
    // margin: 0%;

    background: transparent;
    border: none;
}
.forspace {
    height: 5vh;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #ededed;
    margin: 0%;
}
.table {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.tsub1 {
    text-align: center;
    width: 100%;
}
.tsub {
    text-align: center;
    height: 500px !important;
    overflow: scroll;
    
}
.tsub table{
    width: 1100px !important;
    overflow-x: scroll;

}
.tsubtd{
    min-width: 30%;

}
::-webkit-scrollbar {
    width: 4px;
    background: #ffffff;
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 15px;
}
.tsub1 table {
    width: 100%;
}
.fw {
    width: 10%;
}
.poly {
    color: white;
    clip-path: polygon(3% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 20%);
    box-shadow: inset 3px -3px 11px -4px  rgb(0, 0, 0, 0.63);
    background-image: linear-gradient(to right, #f34432, #f78d4d);
}

.tsub table tr td {
    border: 1px solid rgba(92, 80, 80, 0.397);

}

.tsub table tr {
    table-layout: fixed;
    background-color: white;
}


.tbc {
    width: 10%;
    background-color: #f8f8f8;
    // position: sticky;
    // top: 0;
    
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.flogo {
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
}
.f1 {
    text-align: right;
    padding: 10px;
}

.f2 {
    padding: 10px;
    border-left: 3px solid white;
}

@media only screen and (max-width:2697px) {
    * {

        font-size: 1.5rem;
    }

    .forimage {

        width: 45px;
        height: 45px;


    }

    .outside {
        height: 100px;
    }
    .flogo img{
        width: 20%;
    }

}

@media only screen and (max-width:1400px) {
    * {

        font-size: 1rem;
    }
    .forimage {

        width: 35px;
        height: 35px;


    }

    .outside {
        height: 70px;
    }
    .flogo img{
        width: 20%;
    }
}

@media only screen and (max-width:1160px) {
    .forimage {

        width: 25px;
        height: 25px;
        min-width: auto;


    }

    .forpad {
        padding: 0%;
        margin: 0;
    }

    .outside {
        height: 60px;
    }
    .medium2{
        padding: 10px 10px;
    }
    .medium2 a{
        font-size: 12px;
    }
    

}

@media only screen and (max-width:800px) {
    .forimage {

        width: 20px;
        height: 20px;
        min-width: auto;


    }
    nav {
        width: 100%;
        
    
    }
    .imag {
        width: 20%;
        padding: 10px 0px;
        padding-left: 4px;   
    }
    .mid{
        width: 50%;
        font-size: 10px;
    }
    .last1{
        width: 30%;
    }
    .lastbtn{
        margin: 0%;
        padding: 0%;
        font-size: 10px;
    }
    .medium1{
        width: 100%;
    }
    .medium1btn{
        margin: 20px 0px;
        font-size:10px ;
        padding: 5px 40px;
    }
    .medactive {
        padding: 6px 41px;
    }
    .medium2{
        padding: 5px 10px;
    }
    .medium2 a{
        font-size: 10px;
    }
    .outside {
        height: 60px;
    }
    .mon{
        font-size: 10px;
    }
    .forcalen i{
        font-size: 12px;
    }
    .icon {
        // font-size: 1.5rem;
        border: 1px solid black;
        border-radius: 3px;
        padding: 1px 3px;
    }
    .forcalen{
        margin-bottom: 15px;
    }
    .fw {
        // position: relative;
        // margin: 10px 0px;
        width: 5%;
        // font-size: 12px;
    }
    .tsub table tr td {
        font-size: 12px;
    
    }
    .tsub1 table tr th{
        font-size: 10px;
    }
    .tbc {
        width: 5%;
        
    }
    footer {
        width: 100%;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
    .flogo {
        text-align: center;
        width: 100%;
        padding-top: 5px;
    }
    .flogo img{
        width: 30%;
    }
    .footer{
        width: 100%;
    }
    .f1 {
        padding: 5px;
        width: 30%;
        font-size: 10px;
    }
    
    .f2 {
        padding: 5px;
        font-size: 10px;
        width: 40%;
        
    }
    
}

// @media only screen and (min-width:900px) {
//     *{

//         font-size: 1rem;
//     }

// }
// write a code of plogone border