@import "../../../styles.scss";



.margin-0 {
    margin: 0px;
}

nav {
    background-color: black;

}

.imag {
    text-align: center;
    display: inline-block;
    padding: 20px 0px;
    padding-left: 10px;
    border-right: 1px solid whitesmoke;

}

.mid {
    text-align: right;
    padding-top: 30px;
}

.last1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid whitesmoke;
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastbtn {
    border: 0;
    color: white;
    background: transparent;
}

.arrow {
    border: solid #ee4931;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.midbtn {
    border: 0;
    color: whitesmoke;
    background-color: black;
}

.midbtn:hover {
    color: white;
}

.medium1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: rgb(36, 32, 32);


}

.medium1btn {
    background: rgb(36, 32, 32);
    border: none;
    margin: 30px 0px;
    padding: 10px 70px;
    border: 1px solid #ee4931;
    color: whitesmoke;


}

.foroutline {
    border-bottom: 2px solid #ee4931;
}

.medactive {
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right bottom, #ee4931, #e5512c, #dc5827, #d45e24, #cb6322, #cb6322, #cb6322, #cb6322, #d45e24, #dc5827, #e5512c, #ee4931);
    border: 1px solid transparent;

}

.forimage {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ee4931;
}

.medium2 {
    padding: 20px 140px;
    font-size: 15px;
    text-align: right;
}

.medium2 a {
    color: rgb(36, 32, 32);
    text-decoration: underline;
}

.main {
    background: whitesmoke;
}

.fordays {
    display: flex;
    justify-content: center;
    // 
    // margin-bottom: 10px;
}

.outside {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 10vh;
    background: rgba(31, 27, 27, 0.836);
    clip-path: polygon(100% 0, 100% 50%, 94% 100%, 0% 100%, 0 54%, 6% 0);
    margin: 20px 0px;
    border-radius: 5px solid blue;

}

.fordaysbtn {
    display: flex;
    justify-content: center;
    // align-items: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: white;
    clip-path: polygon(100% 0, 100% 48%, 94% 100%, 0.1% 100%, 0.1% 56%, 6% 0);
}

.forbtn {
    background: white;
    border-left: 1px solid black;
    // border-right: 2px solid black;
    transform: skew(-25deg);
    // margin-bottom: 10px;

}

// .forbtn::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: 1px solid black;
//     transform: skew(-20deg);
//     z-index: -1;
//   }

.active button {
    color: whitesmoke;
}

.active {
    background: linear-gradient(to right, #ee4931 0%, #c06922 100%);
    box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.4), 2px 2px 5px 1px rgba(0, 0, 0, 0.4);

}

.mon {
    border-bottom: 2px solid black;
    margin: 0%;
    padding: 10px 43px;
    background: transparent;
    border: none;
}

.forspace {
    height: 5vh;
    width: 100%;
    background-color: whitesmoke;
    border-top: 1px solid rgba(43, 38, 38, 0.808);
    border-bottom: 1px solid rgba(43, 38, 38, 0.808);
    margin: 0%;
}

.table {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // position: relative;


}

.tsub1 {
    
    text-align: center;
    width: 100%;
}

.tsub {
    text-align: center;
    width: 100%;
    height: 500px !important;
    overflow: scroll;

}

::-webkit-scrollbar {
    width: 2px;
    background: whitesmoke;
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar-thumb {
    background: black;
}

table {

    width: 100%;

}

.fw {
    // position: relative;
    // margin: 10px 0px;
    width: 10%;
}

.tbc {
    width: 10%;
    background: #f8f8f8;
}

.poly {
    color: white;
    background-image: linear-gradient(to left bottom, #ee4931, #e5512c, #dc5827, #d45e24, #cb6322, #cb6322, #cb6322, #cb6322, #d45e24, #dc5827, #e5512c, #ee4931);
    // clip-path: polygon(5% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 51%);
    clip-path: polygon(3% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 20%);
    box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.tsub table tr td {
    border: 1px solid rgba(92, 80, 80, 0.397);
    table-layout: fixed;
    // width: 5px;
    overflow: scroll;
}

footer {
    background-color: black;
    color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.flogo {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.f1 {
    text-align: right;
    padding: 10px;
}

.f2 {
    padding: 10px;
    border-left: 3px solid white;
}