<nav>
    <div class="row margin-0">
        <div class="imag col-md-2">
            <img src="../../../assets/1.jpg" width="100%" alt="logo">
        </div>
        <div class="mid col-md-8">
            <i class="arrow left"></i>
            <button class="midbtn">Popis Centara</button>
        </div>
        <div class="last1 col-md-2">
            <div class="last">
                <img src="../../../assets/3.jpg" class="forimage" alt="">
                <div class="row margin-0">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="lastbtn btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                Talha Idrees
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Setting</button>
                                <button ngbDropdownItem>Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="main">
    <div class="medium1">
        <div [ngClass]="val?'':outline">
            <button [ngClass]="val?btnd:btnda" (click)="component1()">Detaiji</button>
        </div>
        <div [ngClass]="val?outline:''">
            <button [ngClass]="val?btnda:btnd" (click)="component2()">Reservacije</button>
        </div>
    </div>
    <div class="medium2">
        <a href="#">view full calender</a>

    </div>
    <div class="fordays row margin-0">
        <div class="outside col-md-7">
            <div class="fordaysbtn">
                <div [ngClass]="mon?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('mon')" >Mon</button>
                </div>
                <div [ngClass]="tue?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('tue')">Tues</button>
                </div>
                <div [ngClass]="wed?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('wed')">Wed</button>
                </div>
                <div [ngClass]="th?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('th')">Thrus</button>
                </div>
                <div [ngClass]="fri?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('fri')">Fri</button>
                </div>
                <div [ngClass]="sat?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('sat')">Sat</button>
                </div>
                <div [ngClass]="sun?fordaysactive:''" class="forbtn">
                    <button class="mon" (click)="fordaysbtn('sun')">Sun </button>
                </div>
            </div>
        </div>
    </div>
    <div class="forspace">

    </div>
    <div class="table row margin-0 ">
        <div class="col-md-10">
            <div class="tsub1 poly">
                <table>

                    <tr>
                        <th class="fw">
                            Sports
                        </th>
                        <th>
                            Tenis
                        </th>
                        <th>
                            Tenis
                        </th>
                        <th>
                            Tenis
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Vrijeme
                        </th>
                        <th>
                            Teren 1-Vanjski
                        </th>
                        <th>
                            Teren 1-Vanjski
                        </th>
                        <th>
                            Teren 1-Vanjski
                        </th>
                    </tr>
                </table>
            </div>
            <div class="tsub">
                <table>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="tbc">
                            8:00
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="flogo">
        <img src="../../../assets/1.jpg" alt="logo">
    </div>
    <div class="footer row margin-0">
        <p class="f1 col-md-6">© 2023 All Copyright Reserved</p>
        <p class="f1 col-md-2">Upute za koristenje</p>
        <p class="f2 col-md-4">Opci uvjeti koristenja</p>
    </div>
</footer>