<div class="sidebar">
    <img src="../../../assets/2.jpg" alt="">
<ul>
    <li>
        Navigation
    </li>
    <li>
        <a routerLink="/dashboard"><i class="fa fa-light fa-bell"></i> DashBoard</a>
    </li>
    
    <li>
        <a routerLink="/accounts"><i class="fa fa-light fa-bell"></i> Accounts</a>
    </li>
    
    <li>
        <a routerLink="/cards"><i class="fa fa-light fa-bell"></i> Cards</a>
    </li>
    
    <li>
        <a href=""><i class="fa fa-light fa-bell"></i> Transactions</a>
    </li>
    
    <li>
        <a routerLink="/payment"><i class="fa fa-light fa-bell"></i> Payment</a>
    </li>
    
    <li>
        <a href=""><i class="fa fa-light fa-bell"></i> Invoicing</a>
    </li>
    
    <li>
        <a href=""><i class="fa fa-light fa-bell"></i> Trading</a>
    </li>
    <li>
        <a href=""><i class="fa fa-light fa-bell"></i> Reports</a>
    </li>
</ul>
</div>
