.sidebar{
    position: absolute;
    bottom: 0%;
    height: 95%;
    width: 15%;
    background: rgb(131, 128, 128);
}
.sidebar ul li a{
    text-decoration: none;
    color: rgb(43, 41, 41);
    font-size: 15px;
    line-height: 35px;
}
.sidebar ul li{
    list-style-type: none;

}
.sidebar img{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.active{
    font-weight:bold ;
    border-right: 2px solid black;
}