<div class="sidebar">
    <img src="../../../assets/2.jpg" alt="">
    <ul>
        <li>
            Navigation
        </li>
        <li [ngClass]="dash?'active':''">
            <a routerLink="/" (click)="forbtn('das')"><i class="fa fa-tachometer"></i>DashBoard</a>
        </li>

        <li [ngClass]="accounts?'active':''">
            <a routerLink="/account" (click)="forbtn('accounts')"><i class="fa fa-microphone"></i>Accounts</a>
        </li>

        <li [ngClass]="cards?'active':''">
            <a routerLink="/card" (click)="forbtn('cards')"><i class="fa fa-credit-card"></i>Cards</a>
        </li>

        <li [ngClass]="tran?'active':''">
            <a (click)="forbtn('tran')"><i class="fa fa-exchange"></i>Transactions</a>
        </li>

        <li [ngClass]="pay?'active':''">
            <a routerLink="/payment" (click)="forbtn('pay')"><i class="fa fa-money"></i>Payment</a>
        </li>

        <li [ngClass]="in?'active':''">
            <a (click)="forbtn('in')"><i class="fa fa-indent"></i>Invoicing</a>
        </li>

        <li [ngClass]="trad?'active':''">
            <a (click)="forbtn('trad')"><i class="fa fa-rocket"></i>Tranding</a>
        </li>
        <li [ngClass]="repo?'active':''">
            <a (click)="forbtn('repo')"><i class="fa fa-bug"></i> Reports</a>
        </li>
    </ul>
    <ul>
        <li>
            Balance
        </li>
        <li>
            <a (click)="forbtn('repo')"><i class="fa fa-light fa-bell"></i>100,050.75 USD</a>
        </li>
        <li>
            <a (click)="forbtn('repo')"><i class="fa fa-light fa-bell"></i>2310.40 EUR</a>
        </li>
        <li>
            <a (click)="forbtn('repo')"><i class="fa fa-light fa-bell"></i>9455 GBP</a>
        </li>
    </ul>
    <ul>
        <li [ngClass]="ps?'active':''">
            <a (click)="forbtn('ps')"><i class="fa fa-cogs"></i> Profile setting</a>
        </li>
    </ul>
</div>